body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 95%;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100vh;
}

.box {
  border: 1px solid white;
  
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.pink {
  background-color: pink;
}

.purple {
  background-color: purple;
}

.orange {
  background-color: orange;
}

.lightgreen {
  background-color: lightgreen;
}

.lightpink {
  background-color: lightpink;
}

.violet {
  background-color: violet;
}
